/* table, tr, th, td, caption{
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
} */

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* || RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* || VARIABLES */
:root {
    /* FONT */
    --FF: "Nunito", san-serif;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --FS-LOGO: clamp(1.7rem, 3.5vh, 3.5rem);

    /* COLOR */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252,220,160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51,178,51);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0,0%,0%,0.6);
    --LINK-ACTIVE: orange;
    --HEADER-COLOR: #fff;
    --HEADER-BGCOLOR: #000;
    --NAV-BGCOLOR: #fff;
    --HERO-BGCOLOR: rgba(51,178,51,0.75);
    --HERO-COLOR: #fff;

    /* BORDERS */
    --BORDERS: 1px solid var(--BORDER-COLOR);

    /* STANDARD PADDING */
    --PADDING-TB: 0.25rem;
    --PADDING-SIDE: 2.5%;

    /* STANDARD MARGIN */
    --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/* || UTILITY CLASSES */
.offscreen {
    position: absolute;
    left: -1000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    border-left: var(--BORDERS);
    border-right: var(--BORDERS);
    box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--FF-HEADINGS);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 0.1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover, a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* || HEADER */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    text-align: center;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    font-size: var(--FS-LOGO);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* || HERO */
.hero {
    position: relative;
}

.hero__h2 {
    background-color: var(--HERO-BGCOLOR);
    color: var(--HERO-COLOR);
    padding: 0.25em 0.25em;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 5px var(--BORDER-COLOR);
    position: absolute;
    left: 20px;
    top: -100px;
    animation: showWelcome 0.5s ease-in-out 1s forwards;
}

@keyframes showWelcome {
    0% {
        top: -20px;
        transform: skew(0deg, -5deg) scaleY(0);
    }
    80% {
        top: 30px;
        transform: skew(10deg, -5deg) scaleY(1.2);
    }
    100% {
        top: 20px;
        transform: skew(-10deg, -5deg) scale(1.1);
    }
}

/* || FOOTER */
.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    text-align: center;
}

/* || MAIN */
.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__section {
    scroll-margin-top: 6.5rem;
    margin: var(--MARGIN);
}

.main__section:first-child {
    margin-top: 1em;
}

.main__section:last-child {
    min-height: calc(100vh - 20rem);
}

/* || ABOUT */
.about__trivia {
    margin: var(--MARGIN);
}

.about__trivia-answer {
    margin-top: 1em;
}

.about h2 {
    border-bottom: 2px solid #222;
}

.about h3 {
    margin-top: 2rem;
}

/* Goal Card Styles */
.goals__container {
    display: flex;
    flex-wrap: wrap;
}

.goal-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    /* max-width: 300px; */
    width: min(100%, 350px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

@media screen and (max-width: 768px) {
    
    .goal-card {
        width: 100%;
    }
}

.goal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.goal-card h3 {
    color: #333;
    font-size: 1rem;

}

.goal-card p {
    color: #666;
}

/* || CONTACT */
.contact__h2, .location__h2 {
    margin: 0;
}

.contact__field {
    border: none;
}

.contact__p {
    margin: 1em 0;
}

.contact__label {
    display: block;
    font-weight: bold;
}

.contact__input, .contact__textarea {
    padding: 0.5rem;
    border-radius: 10px;
    border-width: 2px;
    width: 100%;
}

.contact__button {
    width: 100%;
    padding: 10px;
    /* background-color: #007bff; */
    /* color: #fff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    /* border-radius: 10px; */
    background-color: var(--HIGHLIGHT-COLOR);
    color: var(--HEADER-COLOR);
}

.contact__button:hover {
    background-color: var(--LINK-ACTIVE);
}

/* || HOME */
.content__h2 {
    border-bottom: 2px solid #222;
}

.content {
    border-bottom: 2px solid #222;
    margin-bottom: 3rem;
}

.content article {
    margin-bottom: 1rem;
}

.blog__h2 {
    margin-bottom: 1rem;
}

.blog p {
    margin: var(--MARGIN);
}

/* || STORE */
.store h2 {
    border-bottom: 2px solid #222;
    margin-bottom: 1.5rem;
}

.store article {
    margin-bottom: 2rem;
}

.store h3 {
    margin-bottom: 1rem;
}